.header {
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: $secondary-bg-color;

    @media screen and (min-width: $tablet) {
        padding-bottom: 29px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 56px;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}