.hero {
    position: relative;

    padding-top: 32px;
    padding-bottom: 157px;

    background-color: $secondary-bg-color;
    
    text-align: center;

    @media screen and (min-width: $tablet) {
        padding-top: 29px;
        padding-bottom: 203px;
    }

    @media screen and (min-width: $desktop) {
        padding-bottom: 326px;
    }
}

.hero__title {
    margin-bottom: 40px;

    font-family: $secondary-font;
    font-size: 50px;
    line-height: 1;

    @media screen and (min-width: $tablet) {
        font-size: 60px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 80px;
    }
}

.hero__title--accent {
    text-decoration: underline;
    text-decoration-color: $accent-color;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.hero__image {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    max-width: 320px;

    @media screen and (min-width: $tablet) {
        transform: translateY(-25%) translateX(-45%);

        max-width: 514px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 767px;
    }
}