%list {
    list-style: none;
}

%link {
    text-decoration: none;
}

%button {
    font-weight: 700;
    line-height: 2;
    letter-spacing: -0.01em;
    text-align: center;
    
    cursor: pointer;
}