$primary-bg-color: #24053E;
$secondary-bg-color: #FCF8FF;
$tertiary-bg-color: #FFFFFF;
$accent-color: #44FFA1;
$primary-text-color:#FFFFFF;
$secondary-text-color:#584D62;
$tertiary-text-color: #24053E;
$primary-font: Manrope, sans-serif;
$secondary-font: Fraunces, serif;
